Repository Ouranosinc/Magpie, pull requests merged in 2020-12, with the labels that each got.

#374 User self delete
  CHANGES.rst
  Makefile
  README.rst
  docker-compose.yml.example
  docs/usage.rst
  env/postgres.env.example
  magpie/__meta__.py
  magpie/api/management/user/user_views.py
  magpie/ui/user/templates/edit_current_user.mako
  magpie/ui/user/views.py
  magpie/ui/utils.py
  setup.cfg
  tests/interfaces.py
Labels: api, ci, doc, tests, ui

#375 MAGPIE_TEST_VERSION envvar
  CHANGES.rst
  ci/magpie.env
  docs/usage.rst
  env/magpie.env.example
  tests/interfaces.py
  tests/runner.py
  tests/test_magpie_api.py
  tests/test_magpie_ui.py
  tests/utils.py
Labels: ci, doc, tests

#376 adjust alignment of tab-selector options
  CHANGES.rst
  magpie/ui/home/static/style.css
  magpie/ui/management/templates/edit_group.mako
  magpie/ui/management/templates/edit_user.mako
  magpie/ui/management/templates/panel_scripts.mako
  magpie/ui/management/templates/view_services.mako
Labels: doc, ui

#377 bump twitcher v0.5.4 (performance fix bird-house/twitcher#98)
  CHANGES.rst
  Dockerfile.adapter
Labels: ci, doc
