Repository Ouranosinc/Magpie, pull requests merged in 2021-11, with the labels that each got.

#483 fix erroneous config variable name
  CHANGES.rst
  config/magpie.ini
  magpie/ui/home/static/style.css
Labels: doc, ui

#484 Fix reconnect user / session
  CHANGES.rst
  magpie/services.py
  tests/test_services.py
Labels: doc, tests

#485 add self-dependency security check and ignore sqlalchemy_utils
  Makefile
  requirements-dev.txt
  requirements.txt
Labels: tests, security, ci

#486 add individual targets security-[code|deps] to allow check without -only suffix
  Makefile
Labels: ci

#487 more db-session reconnect/transaction verifications
  CHANGES.rst
  magpie/adapter/__init__.py
  magpie/adapter/magpieowssecurity.py
  magpie/adapter/magpieservice.py
  magpie/cli/register_defaults.py
  magpie/cli/utils.py
  magpie/db.py
  magpie/services.py
  magpie/utils.py
  setup.cfg
Labels: doc, db, plugin, ci, cli

#489 using official gitleaks action
  .github/.gitleaks.toml
  .github/workflows/secret-scan.yml
Labels: security, ci
