Repository Ouranosinc/Magpie, pull requests merged in 2021-02, with the labels that each got.

#385 fix doc generation with updated sphinx min version and extensions
  .github/labeler.yml
  Makefile
  docs/conf.py
  requirements-doc.txt
Labels: ci, doc

#383 Finish the missing tmp_url part for the webhooks
  magpie/api/management/register/register_utils.py
  magpie/api/management/user/user_utils.py
  magpie/api/management/user/user_views.py
  magpie/api/schemas.py
  magpie/api/webhooks.py
  magpie/app.py
  magpie/models.py
  tests/test_webhooks.py
  tests/utils.py
Labels: api, db, tests

#378 Prehook user creation
  CHANGES.rst
  config/config.yml
  config/magpie.ini
  docs/configuration.rst
  env/magpie.env.example
  magpie/api/management/register/register_utils.py
  magpie/api/management/user/user_formats.py
  magpie/api/management/user/user_utils.py
  magpie/api/management/user/user_views.py
  magpie/api/schemas.py
  magpie/api/webhooks.py
  magpie/app.py
  magpie/models.py
  requirements-dev.txt
  setup.cfg
  tests/runner.py
  tests/test_magpie_api.py
  tests/test_webhooks.py
  tests/utils.py
Labels: api, ci, db, doc, tests

#389 improve INI not found error message
  CHANGES.rst
  docs/references.rst
  magpie/api/webhooks.py
  magpie/utils.py
Labels: api, doc

#391 attempt validate webapp response before test-remote execution
  Makefile
  ci/docker-compose.smoke-test.yml
Labels: ci, tests

#392 fix rendering of group response for admins
  .pylintrc
  CHANGES.rst
  magpie/api/management/group/group_formats.py
  magpie/api/schemas.py
  tests/interfaces.py
Labels: api, ci, doc, tests
