Repository Ouranosinc/Magpie, pull requests merged in 2022-03, with the labels that each got.

#506 fix missing link to *OpenAPI Specification* in generated TOC
  CHANGES.rst
  docs/api.rst
  docs/conf.py
  docs/usage.rst
Labels: doc

#507 disable auto-create getcapabilities on services created by providers.cfg
  CHANGES.rst
  magpie/app.py
  magpie/cli/register_providers.py
  magpie/register.py
  tests/interfaces.py
Labels: doc, tests, cli

#510 add linting rules to consider alembic migration scripts
  .pylintrc
  CHANGES.rst
  Makefile
  config/magpie.ini
  magpie/alembic/env.py
  magpie/alembic/script.py.mako
  magpie/alembic/versions/2011-11-10_24ab8d11f014_external_identities.py
  magpie/alembic/versions/2011-11-10_24da162a54f1_ensure_service_root_is_none.py
  magpie/alembic/versions/2011-11-10_2bb1ba973f0b_initial_structure.py
  magpie/alembic/versions/2011-11-11_5c84d7260c5_add_parent_id.py
  magpie/alembic/versions/2011-12-20_46a9c4fb9560_pass_col_sizes.py
  magpie/alembic/versions/2012-02-13_264049f80948_create_ordering_column.py
  magpie/alembic/versions/2012-02-19_2d472fe79b95_bigger_identity_data.py
  magpie/alembic/versions/2012-03-10_54d08f9adc8c_add_registered_date.py
  magpie/alembic/versions/2012-06-05_53927300c277_change_primary_key_sizes.py
  magpie/alembic/versions/2012-06-27_3cfc41c4a5f0_groups_pkey_change.py
  magpie/alembic/versions/2012-06-27_4c10d97c509_add_index_to_resourc.py
  magpie/alembic/versions/2012-07-07_20671b28c538_change_all_linking_k.py
  magpie/alembic/versions/2012-07-09_439766f6104d_add_lower_indexes.py
  magpie/alembic/versions/2015-06-13_438c27ec1c9_normalize_constraint_and_key_names.py
  magpie/alembic/versions/2015-06-14_13391c68750_add_security_code_date.py
  magpie/alembic/versions/2016-04-02_57bbf0c387c_add_local_user_id.py
  magpie/alembic/versions/2016-05-05_b5e6dd3449dd_increase_field_sizes.py
  magpie/alembic/versions/2017-07-21_0974132183ad_alter_user.py
  magpie/alembic/versions/2017-07-21_ddb788864221_add_service_as_resource.py
  magpie/alembic/versions/2018-05-23_2a6c63397399_separate_personal_standard_groups.py
  magpie/alembic/versions/2018-05-23_9fd4589cc82c_merge_heads_b5e6_and_ddb7.py
  magpie/alembic/versions/2018-05-29_5e7b5346c330_remove_obsolete_personal_groups.py
  magpie/alembic/versions/2018-05-30_ae1a3c8c7860_transfer_group_users_admins_users.py
  magpie/alembic/versions/2018-06-04_a395ef9d3fe6_reference_root_service.py
  magpie/alembic/versions/2018-06-20_c352a98d570e_project_api_route_resource.py
  magpie/alembic/versions/2018-09-24_73b872478d87_add_resource_label.py
  magpie/alembic/versions/2018-09-27_73639c63c4fc_unified_api_service.py
  magpie/alembic/versions/2018-19-11_d01af1f2e445_create_remote_sync_tables.py
  magpie/alembic/versions/2019-08-23_03b54feffe45_ensure_anonymous_group_applied_to_users.py
  magpie/alembic/versions/2020-07-23_b739afcc91db_add_discoverable_groups.py
  magpie/alembic/versions/2020-09-22_a2a039e2cff5_explicit_permission_names.py
  magpie/alembic/versions/2020-10-13_5f2648b8ff49_resource_type_process.py
  magpie/alembic/versions/2020-10-28_9b8e5d37f684_thredds_browse_for_read_resources.py
  magpie/alembic/versions/2020-11-20_cfe64807c143_add_service_custom_configuration_field.py
  magpie/alembic/versions/2021-01-04_954a9d7fe740_temporary_url_table.py
  magpie/alembic/versions/2021-04-16_dea413e13a8a_pending_users_and_statuses.py
  magpie/alembic/versions/2021-04-19_00c617174e54_unique_user_emails.py
  magpie/alembic/versions/2021-04-27_35e98bdc8aed_token_operation_ref_pending_user.py
  magpie/alembic/versions/2021-06-09_cb92ff1f81bb_add_group_terms.py
  magpie/alembic/versions/2022-03-04_0c6269f410cd_move_anonymous_user_to_group_perms.py
  tests/interfaces.py
Labels: doc, tests, ci

#511 Permissions patch
  CHANGES.rst
  config/permissions.cfg
  magpie/api/management/resource/__init__.py
  magpie/api/management/resource/resource_views.py
  magpie/api/schemas.py
  magpie/register.py
  tests/interfaces.py
  tests/test_register.py
Labels: doc, tests, api

#513 fix typo in ui edit user page
  CHANGES.rst
  magpie/ui/management/templates/edit_user.mako
Labels: doc, ui
