Repository Ouranosinc/Magpie, pull requests merged in 2023-10, with the labels that each got.

#591 update ReadTheDocs config
  .readthedocs.yml
Labels: doc, ci

#590 allow service registration forced update of type field
  CHANGES.rst
  magpie/register.py
Labels: doc

#593 Update CI PR labeler version to fix HTTP error with GitHub token
  .github/workflows/label.yml
Labels: ci

#592 Add supplemental regex setting to validate username
  CHANGES.rst
  config/magpie.ini
  docs/configuration.rst
  magpie/api/management/user/user_utils.py
  magpie/api/schemas.py
  tests/interfaces.py
  tests/test_magpie_api.py
Labels: feature
